/* Global Styles */
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 10px;
    background-color: #F6E8EA;
  }
  
/* Card Styles */
.card {
    background-color: #EF626C;
    border-radius: 30px;
    padding: 30px;
    max-width: 90%;
    width: 100%;
  }
  
  .card-header {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
  }
  
  .card-body {
    padding: 10px;
    text-align: center;
  }
  
  #quote {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif  ;
    color: #000000;
    font-size: 20px;
  }
  
  .card-footer {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
  }
  
  .card-footer button {
    background-color: #00F2F2;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
  }